$mainBgi: #def8f6;

$searchBgi: #bef8f6;

$lightPurple: rgb(238, 207, 236);

$lightBeige: rgb(248, 250, 228);

$beige: rgb(228, 238, 207);

$black: #000;

$white: #fff;

$notFound: crimson;

$grey: rgb(168, 168, 166);

$darkGrey: rgb(133, 130, 130);

$borderBrown: rgb(139, 21, 21);
